* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor__titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.titulo {
  padding: 10px 105px;
  text-align: center;
  font-size: 5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);

}

.fondo__main {
  height: 150vh;
  background-image: url('../../public/fondo.jpg');
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}